[submodule "Drivers/CMSIS"]
	path = Drivers/CMSIS
	url = https://github.com/STMicroelectronics/cmsis-core.git
[submodule "Drivers/CMSIS_Device/ST/STM32N6xx"]
	path = Drivers/CMSIS_Device/ST/STM32N6xx
	url = https://github.com/STMicroelectronics/cmsis-device-n6.git
[submodule "Drivers/STM32N6xx_HAL_Driver"]
	path = Drivers/STM32N6xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32n6xx-hal-driver.git
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
[submodule "Drivers/BSP/Components/mx66uw1g45g"]
	path = Drivers/BSP/Components/mx66uw1g45g
	url = https://github.com/STMicroelectronics/stm32-mx66uw1g45g.git
[submodule "Drivers/BSP/Components/rk050hr18"]
	path = Drivers/BSP/Components/rk050hr18
	url = https://github.com/STMicroelectronics/stm32-rk050hr18.git
[submodule "Drivers/BSP/STM32N6570-DK"]
	path = Drivers/BSP/STM32N6570-DK
	url = https://github.com/STMicroelectronics/stm32n6570-dk-bsp
[submodule "Middlewares/ST/STM32_USB_Device_Library"]
	path = Middlewares/ST/STM32_USB_Device_Library
	url = https://github.com/STMicroelectronics/stm32-mw-usb-device.git
[submodule "Middlewares/ST/STM32_ISP_Library"]
	path = Middlewares/ST/STM32_ISP_Library
	url = https://github.com/STMicroelectronics/stm32-mw-isp.git
[submodule "Middlewares/ST/STM32_Camera_Middleware"]
	path = Middlewares/ST/STM32_Camera_Middleware
	url = https://github.com/emteqlabs/stm32-mw-camera.git
[submodule "Drivers/BSP/Components/aps256xx"]
	path = Drivers/BSP/Components/aps256xx
	url = https://github.com/STMicroelectronics/stm32-aps256.git
