Projects/*/*/*/STM32CubeIDE/Application
Projects/*/*/*/STM32CubeIDE/Drivers
Projects/*/*/*/STM32CubeIDE/Middlewares
Projects/*/*/*/STM32CubeIDE/release
Projects/*/*/*/STM32CubeIDE/.settings
Projects/*/*/*/STM32CubeIDE/*.launch
